.cache
.last-package-update-day
ac-comphist.dat
auto-save-list
backups
%backup%~
elpa
ido.last
logview-cache.extmap
network-security.data
recentf
server
session.*
smex-items
tramp
work
\#recentf#
image-dired
eshell
